[Unit]
Description=IoD rainbow snakes daemon
After=syslog.target network.target mosquitto.service

[Service]
Type=simple
User=flipdot
WorkingDirectory=/home/flipdot/iod/rainbow-snakes
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/flipdot/iod/rainbow-snakes/rainbow-snakes.py

[Install]
WantedBy=multi-user.target
